
body {
  font-family: 'Nunito Sans', sans-serif;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 15px;
}

h4 {
  font-size: 10px;
}

.btn-ghostinverse2 {
  color: #0047FE;
  border: 2px solid #0047FE;
  font-weight:600;
  padding: 8px 24px;
  border-radius: 12px !important;
  margin-left: 12px;
  margin-right: 12px;
  transition: background 0.3s ease;
  justify-content: flex-end;
}

.btn-ghostinverse2:hover {
  color:white;
  font-weight:700;
  background-color: #0047FE;
  text-decoration:none;
  transform: scale(0.95) !important;
  transition: transform 0.4s cubic-bezier(0,0,.2,1);
}

.btn-ghostinverse {
  background-color: #0047FE;
  color: white;;
  margin-left: 12px;
  margin-right: 12px;
  font-weight:600;
  padding: 8px 24px;
  text-decoration:none !important;
  border-radius: 12px !important;
  transition: background 0.3s ease;
  justify-content: flex-end;
}

.btn-ghostinverse:hover {
  color: #0047FE;
  font-weight:700;
  background-color: white;
  border: 2px solid #0047FE;
  transform: scale(0.95) !important;
  transition: transform 0.4s cubic-bezier(0,0,.2,1);
}

// .container {
//   margin-top: 24px;
//   margin-bottom: 24px;
// }

.card-campaigns {
    display: inline-block !important;
    }

.card-campaigns .form-group {
  display: none;
}

.card {
  display: flex;
  height: 320px;
  width: 240px;
  // padding-left: 150px;
  background:linear-gradient(145deg, #fdf497 5%, #fd5949 25%,#d6249f 75%,#d6249f 100%);
  border-radius: 12px;
  border: 2px solid;
  border-color: white;
  // box-shadow: -0.5rem 0 0.2rem #f4f4f4;
  margin: 12px;
  transition: 0.4s ease-out;
  position: relative;
  // left: 0px;
}

// .card:not(:first-child) {
//   margin-left: -500px;
// }

.card:hover {
  transform: scale(0.95);
  transition: transform 0.8s cubic-bezier(0,0,.2,1);
}

.card:hover::after {
  transition: 0.8s ease all;
}

.photocard{
width:100px;
align-item: center;
position: absolute;
top:40px;
left:70px;
}


// .card:hover ~ .card {
//   position: relative;
//   left: 50px;
//   transition: 0.4s ease-out;
// }

.title {
  color: white;
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 8px;
  left:8px;
  right: 8px;
}

.bar {
  position: absolute;
  top: 160px;
  left: 45px;
  height: 5px;
  width: 150px;
}

.bar2 {
  position: absolute;
  top: 200px;
  left: 45px;
  height: 5px;
  width: 150px;
}

.bar3 {
  position: absolute;
  top: 240px;
  left: 45px;
  height: 5px;
  width: 150px;
}

.bar4 {
  position: absolute;
  top: 280px;
  left: 45px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.8s ease-out;
}

.card:hover .filledbar {
  width: 75%;
  transition: 0.8s ease all;
}

.filledbar2 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.8s ease-out;
}

.card:hover .filledbar2 {
  width: 10%;
  transition: 0.8s ease all;
}

.filledbar3 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.8s ease-out;
}

.card:hover .filledbar3 {
  width: 80%;
  transition: 0.8s ease all;
}

.filledbar4 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.8s ease-out;
}

.card:hover .filledbar4 {
  width: 100%;
  transition: 0.8s ease all;
}




// .circle {
//  position: absolute;
//  top: 80px;
//  left: calc(50% - 60px);
// }

// .stroke {
//   stroke: white;
//   stroke-dasharray: 360;
//   stroke-dashoffset: 360;
//   transition: 0.6s ease-out;
// }

// svg {
//   fill: #17141d;
//   stroke-width: 2px;
// }

// .card:hover .stroke {
//   stroke-dashoffset: 100;
//   transition: 0.6s ease-out;
// }

// .card.card-selected {
//    background-color: #52476a;
// }
