
body {
  font-family: 'Nunito Sans', sans-serif;
}

  h6 {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-size: 20px;
  color: #0047FE;
  margin-bottom: 30px;
  margin-top: 30px;
  }

  h4 {
  font-size: 10px;
  }

.btn-ghostinverse2 {
  color: #0047FE;
  border: 2px solid #0047FE;
  font-weight:600;
  padding: 8px 24px;
  border-radius: 12px !important;
  margin-left: 12px;
  margin-right: 12px;
  transition: background 0.3s ease;
  justify-content: flex-end;
}

.btn-ghostinverse2:hover {
  color:white;
  font-weight:700;
  background-color: #0047FE;
  text-decoration:none;
  transform: scale(0.95) !important;
  transition: transform 0.4s cubic-bezier(0,0,.2,1);
}

.btn-ghostinverse {
  background-color: #0047FE;
  color: white;
  margin-left: 12px;
  margin-right: 12px;
  font-weight:600;
  padding: 8px 24px;
  text-decoration:none !important;
  border-radius: 12px !important;
  transition: background 0.3s ease;
  justify-content: flex-end;
}

.btn-ghostinverse:hover {
  color: #0047FE;
  font-weight:700;
  background-color: white;
  border: 2px solid #0047FE;
  transform: scale(0.95) !important;
  transition: transform 0.4s cubic-bezier(0,0,.2,1);
}


.photocard{
width:100px;
align-item: center;
position: absolute;
top:40px;
left:70px;
}

.title {
  color: white;
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 8px;
  left:8px;
  right: 8px;
}


.bar {
  position: absolute;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(145deg, #fdf497 5%, #fd5949 25%,#d6249f 75%,#d6249f 100%);
  transition: 0.8s ease-out;
}

.card:hover .filledbar {
  width: 75%;
  transition: 0.8s ease all;
}

.containetape2{
  background-color:white;
  border-radius:12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding:12px;
  padding-top: 16px;
}



.card-campaigns {
    display: inline-block !important;
}

.card-campaigns .form-group {
  display: none;
}






.card {
  display: flex;
  height: 287px;
  text-align: center;
  background:white;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin : 12px;
  transition: 0.4s ease-out;
  position: relative;


  .image {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 8px auto 0 auto;


    img {
      border-radius: 50%;
      border-color: 1px solid white;
    }

  }

  .name {
    font-size: 15px;
    font-weight: 600;
  }

  .job {
    font-size: 11px;
    line-height: 15px;
  }


    .btna {
      display: block;
      width: 120px;
      height: 30px;
      margin: 0 auto 10px auto;
      background: white;
      border: 1px solid white;
      border-radius: 15px;
      font-size: 12px;
      font-weight: 600;
      box-sizing: border-box;

    }
  }


.card:hover {
  transform: scale(1.10);
  transition: transform 0.8s cubic-bezier(0,0,.2,1);
}

.card:hover::after {
  transition: 0.8s ease all;
}

.stats {
    float: left;
    background: linear-gradient(145deg, #fdf497 5%, #fd5949 25%,#d6249f 75%,#d6249f 100%);
    border-radius: 0 12px 12px 0;

  .box {
    box-sizing: border-box;
    width: 100px;
    height: 95px;
    text-align: center;
    padding-top: 27px;

  }

  span {
    display: block;

  }

  .value {
    font-size: 18px;
    font-weight: 600;
    color:white;
  }

  .parameter {
    font-size: 11px;
    color:white;
  }

}

.engagement_rate{
position: relative;
left:0;
padding:4px 0 0 4px;
font-size:12px;
}


.padd {
padding:0 12px 0px 12px;
  }


  // custom checbox
INPUT[type=checkbox]:focus
{
    outline: 1px solid rgba(0, 0, 0, 0.2);
}
INPUT[type=checkbox]
{
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
INPUT[type=checkbox]:checked
{
    background-color: #fe9467;
    background: red url(“data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==“) 3px 3px no-repeat;
}
