// Specific CSS for your home-page
body {
font-family: 'Nunito Sans', sans-serif;
}

.container-fluid,
.container {
  height: calc(100vh - 58px);
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #0047FE;
}


h2 {
font-weight: 300;
font-size: 36px;
line-height: 43px;
color: #000000;
// mix-blend-mode: normal;
}

 .image-form {
padding: 0;
width:100%;
position: relative;
opacity:0.9;

.image-text{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color:white;
  font-size:24px;
  font-weight: 900;
  position: absolute;
  top:0;
  left:0;
}

  img {
    width:120%;
    position: absolute;
    top:0;
    right:0px;
    padding-top: 8px;
  }
}

.bouton {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: background 0.3s ease;
  background: #0047FE;
  width: 171px;
  text-align: center;
  align-self: flex-end;
}


.image-card {
  display:flex;
  min-height: 0;
min-width: 0;
}


.bouton:hover {
  color: white;
  text-decoration: none;
  background: #003cd6;
  transition: background 0.3s ease;
}
