// Specific CSS for your home-page
body {
font-family: 'Nunito Sans', sans-serif;
}

.container-fluid,
.container {
  height: calc(100vh - 58px);
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #0047FE;
}


h2 {
font-weight: 300;
font-size: 36px;
line-height: 43px;
color: #000000;
// mix-blend-mode: normal;
}


.bouton {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: background 0.3s ease;
  background: #0047FE;
  width: 171px;
  text-align: center;
  align-self: flex-end;
}


.image-card {
  display:flex;
  min-height: 0;
min-width: 0;
}


.bouton:hover {
  color: white;
  text-decoration: none;
  background: #003cd6;
  transition: background 0.3s ease;
}
