//// SHOW //////
//// PART 2  //////



*{padding: 0; margin: 0; box-sizing: border-box;}


header {
  background: url('showbanner');
  width: 100%;
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  align-content: space-between;
  }

hshow {
  text-shadow: 5px 5px 5px white;
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-size: 30px;
  color: #0047FE;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1em;
  top-margin: 10px;
  font-weight: bold;
  }


.foo {
  display: none;
}

.hname {
text-align: left;
display: flex;
justify-content: flex-end;
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 40px;
color: #FFFFFF;
}

.hshow {
font-family: 'Nunito Sans', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}



.whitecard {
background: #FFFFFF;
border: 10px solid #FFFFFF;
box-sizing: border-box;
border-radius: 20px;
}


 txtbil {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
  color: black;
  padding-bottom: 25px;
  padding-left: 10px;
  }

 txtbil2 {
  font-family: 'Nunito Sans';
  font-style: lighter;
  font-size: 15px;
  color: white;
  padding-left: 10px;
  margin-bottom: 10px;
  }


fn {
  position: center;
  text-align: center;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 100px;
  color: #0047FE;
  }

.showc {
  height: calc(30vh - 58px);
}

.container4 {
  position: center;
  max-width: 1050px;
  margin: 0 auto;         /*  will center the container on wide screen  */
  display: flex;
}
.one {
  width: 300px;
  background-color: white;
}
.two {
  width: 300px;
  background-color: #0048fe;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  color: #FFFFFF;
}

.ml-9 {
  margin-left: 875px;
  margin-bottom: 70px;
}

//// SHOW //////
//// PART 1  //////

  .iconb {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .flexshow {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 80%;
    margin-left: 100px;
    }

    .iconshow {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .iconshow:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .iconshow > .label {
      display: none;
    }
// @media screen and (max-width: 600px) {
//  .container {
//     display: block;
//   }
//  .container > div {
//     width: 100%;
//   }
// }

  #bannershow {
    background-image: url(../../images/shobanner.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
  }

    #bannershow:before {
      content: '';
      background: rgba(75, 75, 93, 0.85);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    #bannershow .inner {
      border-top: 2px solid rgba(255, 255, 255, 0.2);
      position: relative;
      z-index: 10005;
      padding-top: 8em;
    }

    #bannershow hshow {
      font-size: 3.5em;
      font-weight: 400;
      color: #fff;
      line-height: 1em;
      margin: 0 0 1em 0;
      padding: 0;
    }

    #bannershow h3 {
      font-weight: 400;
      color: #fff;
      margin: 20px;
      padding-right:20px;
      font-size: 1.5em;
    }

    #bannershow .icon {
      color: #6cc091;
      padding-right:20px;
      font-size: 2em;
    }

    #bannershow p {
      font-size: 1em;
      color: rgba(255, 255, 255, 0.55);
      margin-bottom: 1.75em;
    }

    #bannershow .flex {
      -ms-flex-pack: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto 4em auto;
    }

      #bannershow .flex div {
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        padding: 0 8em;
      }

        #bannershow .flex div:last-child {
          border: none;
          padding-right: 0;
        }
bannershow
        #bannershow .flex div:first-child {
          padding-left: 0;
        }

        #bannershow .flex div p {
          margin: 0;
        }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

      #bannershow {
        background-attachment: scroll;
      }

    }

    @media screen and (max-width: 1680px) {

      #bannershow .flex div {
        padding: 0 6em;
      }

    }

    @media screen and (max-width: 1280px) {

      #bannershow {
        padding: 7em 0 6em 0;
      }

        #bannershow .inner {
          padding-top: 6em;
        }

        #bannershow hshow {
          font-size: 3em;
        }

        #bannershow h3 {
          font-size: 1.25em;
        }

        #bannershow .flex div {
          padding: 0 3em;
        }

    }

    @media screen and (max-width: 980px) {

      #bannershow {
        background-attachment: scroll;
        padding: 5em 0 4em 0;
      }

        #bannershow .inner {
          padding-top: 4em;
        }

        #bannershow hshow {
          font-size: 2.5em;
        }

        #bannershow h3 {
          font-size: 1.25em;
        }

        #bannershow .flex div {
          font-size: .85em;
          padding: 0 1.5em;
        }

    }

    @media screen and (max-width: 736px) {

      #bannershow {
        padding: 4em 0 3em 0;
      }

        #bannershow .inner {
          padding-top: 3em;
        }

        #bannershow hshow {
          font-size: 2em;
        }

        #bannershow h3 {
          font-size: 1.25em;
        }

        #bannershow .flex {
          -moz-flex-direction: column;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 0 auto 2em auto;
        }

          #bannershow .flex div {
            font-size: .85em;
            padding: 0;
            border: none;
            margin-bottom: 1em;
          }

    }

    @media screen and (max-width: 480px) {

      #bannershow hshow {
        font-size: 1.5em;
      }

    }
