*{padding: 0; margin: 0; box-sizing: border-box;}

h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  color: #0047FE;
  margin-bottom: 10px;
  }


header {
  background: url('image.png');
  text-align: left;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  }

header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.hname {
text-align: left;
display: flex;
justify-content: flex-end;
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 40px;
color: #FFFFFF;
}

.hshow {
font-family: 'Nunito Sans', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}



.whitecard {
background: #FFFFFF;
border: 10px solid #FFFFFF;
box-sizing: border-box;
border-radius: 20px;
}


 .txtbil {
  text-align: center;
  width: 512px;
  height: 46px;
  left: 64px;
  top: 572px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0047FE;
  }

.fatnombre {
  position: center;
  text-align: center;
  margin: 15px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100px;
  color: #0047FE;
  }

.showc {
  height: calc(30vh - 58px);
}

.container4 {
  position: center;
  max-width: 1050px;
  margin: 0 auto;         /*  will center the container on wide screen  */
  display: flex;
}
.one {
  width: 300px;
  background-color: white;
}
.two {
  width: 300px;
  background-color: #0048fe;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  color: #FFFFFF;
}

.three {
  width: 300px;
  background-color: white;
}

.four {
  width: 300px;
  background-color: #0048fe;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  color: #FFFFFF;
}

// @media screen and (max-width: 600px) {
//  .container {
//     display: block;
//   }
//  .container > div {
//     width: 100%;
//   }
// }
