.txt-image{
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 64px;
}


.s {
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 42px;
text-align: center;
color: rgba(40, 47, 51, 0.69);
}

  .box {
  width: 400px;
  height: 310px;
  left: 161px;
  top: 276px;
   }

 .image-form {
padding: 0;
width:100%;
position: relative;
opacity:0.9;

.image-text{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color:white;
  font-size:24px;
  font-weight: 900;
  position: absolute;
  top:0;
  left:0;
}

  img {
    width:100%;
  }
}

// .img{
// position: absolute;
// width: 730px;
// height: 904px;
// left: 710px;
// top: 0px;
// background: url(image.png);
// }

.champs {
width: 399px;
height: 79px;
left: 152px;
top: 307px;
background: none !important;
border-radius: 12px !important;
}

.flexf {
  display: flex;
  justify-content: space-around;
}

.form-control {
background: none !important;
border-radius: 12px !important;
}

.signup-form {
  padding-top: 60px;
}


