.s {

width: 216px;
height: 26px;
left: 249px;
top: 174px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 42px;
text-align: center;

color: rgba(40, 47, 51, 0.69);
}
