<div class="container-fluid d-flex">
  <div class="row h-100 bg-white">
    <div class="col-xs-12 col-sm-6">
      <div class="d-flex flex-column p-4" style="padding-left: 0px !important">
        <br>
        <h1>LANCEZ ET PILOTEZ VOS CAMPAGNES PUBLICITAIRES AUPRÈS D’INFLUENCEURS</h1>
        <br>
        <hhome> Edward’s vous accompagne de A à Z dans la gestion de vos campagnes publicitaires auprès d’influenceurs ciblés pour votre marque.</hhome>
           <br>
           <br>
           <a href="" class="btn-ghost2">En savoir plus</a>
        </div>
      </div>
    <div class="image-form col-xs-12 col-sm-6">
    <%= image_tag "sign_pic.png"%></div>
  </div>
</div>
