
<html>
  <head>
    <htitle> LANCEZ ET PILOTEZ VOS CAMPAGNES PUBLICITAIRES AUPRÈS D’INFLUENCEURS </htitle>
    <hmarket> Edward’s vous accompagne de A à Z dans la gestion de vos campagnes publicitaires auprès d’influenceurs ciblés pour votre marque. </hmarket>
    <meta name="Agence d'Influenceurs" content="Gestion de vos campagnes publicitaires.">
    <%= link_to "En savoir plus", "#", class: "bouton hover authentication" %>
    <meta charset="utf-8">
  </head>

  <body>
      <%= image_tag "https://res.cloudinary.com/dsqiqzd8q/image/upload/v1580845024/Edwards/Logo_mnvi9o.png", alt: "Le Wagon", width: 500 %>
  </body>
</html>
