<!--  SECTION 1 BANNER -->

<div class="d-flex">
  <div class="row h-60 bg-white">
    <div class="col-xs-5 col-sm-6">
      <div class="d-flex flex-column p-4 w95">
        <br>
        <br>
        <br>
        <thome>LANCEZ ET PILOTEZ<br>VOS CAMPAGNES PUBLICITAIRES AUPRÈS D’INFLUENCEURS</thome>
        <br>
        <hhome> Edward’s vous accompagne de A à Z dans la gestion de vos campagnes publicitaires auprès d’influenceurs ciblés pour votre marque.</hhome>
           <br>
           <br>
           <a href="" class="btn-ghost2">En savoir plus</a>
        </div>
      </div>
    <div class="image-home-size col-xs-12 col-sm-6">
    <%= image_tag "sign_pic.png"%></div>
  </div>
</div>
<!--  SECTION 3 CARDS  -->
<br>
<br>

<div class="grid-card-home">

  <div class="card shadow border-0">
    <%= image_tag 'sending.gif', id: 'image_card' %>
    <div class="card-body">
      <h5 class="card-title">1ère étape : Rédaction du brief </h5>
      <p class="card-text"> Rédiger un brief pour décrire votre produit et comment vous souhaiteriez que notre communauté le mette en avant</p>
    </div>
  </div>

  <div class="card shadow border-0">
    <%= image_tag '2gif.gif', id: 'image_card' %>
    <div class="card-body">
      <h5 class="card-title">2ème étape : Sélectionner les influenceurs</h5>
      <p class="card-text"> Retenez les meilleurs influenceurs pour votre campagne selon l'âge, la communauté...</p>
    </div>
  </div>

  <div class="card shadow border-0">
    <%= image_tag 'influencer.gif', id: 'image_card_3' %>
    <div class="card-body">
      <h5 class="card-title">3ème étape : Diffuser la campagne auprès des influenceurs</h5>
      <p class="card-text"> Prévisualisez les performances de votre campagne en amont</p>
    </div>
  </div>

</div>
<div class="container">
    <h3 class="font-weight-light text-center text-lg-left mb-0">Découvrez les dernières créations des influenceurs de la communauté Edward's</h3>
    <hr class="mt-2 mb-1">
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
      </a>
    </div>
  </div>
</div>

<!--  SECTION 2 TEXTE  -->


