<htitle> LANCEZ ET PILOTEZ VOS CAMPAGNES PUBLICITAIRES AUPRÈS D’INFLUENCEURS </htitle>

<p> Edward’s vous accompagne de A à Z dans la gestion de vos campagnes publicitaires auprès d’influenceurs ciblés pour votre marque. <p>

<p> En savoir plus </p>



<%= link_to('Logout', destroy_user_session_path, method: :delete, class:"btn btn-flat") %>

