<div class="container-fluid d-flex">
  <div class="row h-100 bg-white">
    <div class="col-xs-12 col-sm-6">
      <div class="d-flex flex-column p-4">
        <h1>LANCEZ ET PILOTEZ VOS CAMPAGNES PUBLICITAIRES AUPRÈS D’INFLUENCEURS</h1>
        <h2> Edward’s vous accompagne de A à Z dans la gestion de vos campagnes publicitaires auprès d’influenceurs ciblés pour votre marque. </h3>
        <%= link_to "En savoir plus", "#", class: "bouton" %>
        </div>
      </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag "https://res.cloudinary.com/dsqiqzd8q/image/upload/v1580845024/Edwards/Logo_mnvi9o.png", alt: "Le Wagon", width: 500, class: "d-block mx-auto" %>
    </div>
  </div>
</div>
