.btn-ghost {
  color: #0047FE;
  border: 1px solid #0047FE;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.head_logo {
  width: 100px;
}
.form-button {
  border-radius: 25px;
  background-color: #33CC33;
  width: 200px;
}
