.btn-ghost {
  color: #0047FE;
  border: 1px solid #0047FE;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: background 0.3s ease;
  justify-content: flex-end;
}

.btn-ghost:hover {
  color:white;
  font-weight:normal;
  background-color: #0047FE;
}

.head_logo {
  width: 100px;
}
.form-button {
  border-radius: 25px;
  background-color: #33CC33;
  width: 200px;
}
