.form-campaign {
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #0047FE;
  margin-top: 50px;
  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: #0047FE;
  }
  h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: #0047FE;
    margin-bottom: 10px;
  }
}

input[type=text] {
  border-left: 5px solid #0047FE;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 3px;
}

// brief
.brief-campaign {
  display: flex;
}

.campaign_message {
    width: 100%;
}

.campaign_message > input {
  height: 100px;
}
// goal
.goal-campaign {
  display: flex;
  justify-content: space-around;
}

.campaign_goal > .form-check-inline:nth-of-type(2n) {
  padding-left: 5px;
  padding: 15px;
  background-color: pink !important;
}

.campaign_goal > .form-check-inline:first-of-type {
  padding-left: 3px;
  padding: 15px;
  background-color: pink !important;
}


// Checkboxes design
.hashtag-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.hashtag-choice {
  background: #0047FE;
  padding: 5px;
  border-radius: 3px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: white;
  color: #0047FE;
  opacity: 1;
  }
}
