  <div class="d-flex flex-row flex-wrap">
    <% influencers.each do |influencer| %>
    <div class="card" id="influencer-<%= influencer.id %>">
        <h3 class="title"><%= influencer.name %></h3>
        <div class="bar">
          <h4 class="title"> Communauté</h4>
          <div class="emptybar"></div>
          <div class="filledbar"></div>

          <div>

          </div>
        </div>
    </div>
    <% end %>
  </div>

