<div class="card" id="influencer-<%= influencer.id %>">
  <h3 class="title"><%= influencer.name %></h3>
  <div class="bar">
    <h4 class="title"> Communauté</h4>
    <h4 class="title"> Communazuté</h4>
    <div class="emptybar"></div>
    <div class="filledbar"></div>
  </div>
  <div class="circle">
    <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
  </div>
</div>
