
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>

<body>

</body><div class="container">
  <div class="card">
  <h3 class="title">Bruno Maltor</h3>
  <div class="bar">
  <div class="emptybar"></div>
  <div class="filledbar"></div>
    <ul h2 class="title">
      <li> Follower </li>
      <li> Taux d'engagement </li>
      <li> Prix du post </li>
    </ul>
  </div>
  <div class="circle">
  <circle class="stroke" cx="60" cy="60" r="50"/>
  </svg>
  </div>
  </div>

  <div class="card ">
    <h3 class="title">Isabelle Bidulle</h3>
    <div class="bar">
    <ul h2 class="title">
      <li> Follower </li>
      <li> Taux d'engagement </li>
      <li> Prix du post </li>
    </ul>
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>

  <div class="card">
    <h3 class="title">Sandra Ballek</h3>
    <div class="bar">
        <ul h2 class="title">
      <li> Follower </li>
      <li> Taux d'engagement </li>
      <li> Prix du post </li>
        </ul>
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>

  <div class="card">
    <h3 class="title">Emma Blabla</h3>
    <div class="bar">
        <ul h2 class="title">
      <li> Follower </li>
      <li> Taux d'engagement </li>
      <li> Prix du post </li>
        </ul>
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>
</div>


</body>
