<container>
<div class="contain">
  <div class="kard">
    <div class="face face1">
      <div class="content">
        <%= image_tag"https://res.cloudinary.com/danxfwhmp/image/upload/c_scale,w_193/v1581111541/bruno-maltor3_iayxqa.jpg", class: "round"%>
         <p>Bruno Maltor</p>
         <t>tag</t>
         <c>Communauté</c>
         <a>taille</a> <a>1</a>
         <a>taille</a> <a>2</a>
         <a>taille</a> <a>3</a>
        </div>
      </div>
    </div>
  </div>
</div>

</container>

<container>
<div class="contain">
  <div class="kard">
    <div class="face face1">
      <div class="content">
        <%= image_tag"https://res.cloudinary.com/danxfwhmp/image/upload/c_scale,w_193/v1581111541/bruno-maltor3_iayxqa.jpg", class: "round"%>
         <p>Bruno Maltor</p>
         <t>tag</t>
         <c>Communauté</c>
         <a>taille</a> <a>1</a>
         <a>taille</a> <a>2</a>
         <a>taille</a> <a>3</a>
        </div>
      </div>
    </div>
  </div>
</div>

</container>

<container>
<div class="contain">
  <div class="kard">
    <div class="face face1">
      <div class="content">
        <%= image_tag"https://res.cloudinary.com/danxfwhmp/image/upload/c_scale,w_193/v1581111541/bruno-maltor3_iayxqa.jpg", class: "round"%>
         <p>Bruno Maltor</p>
         <t>tag</t>
         <c>Communauté</c>
         <a>taille</a> <a>1</a>
         <a>taille</a> <a>2</a>
         <a>taille</a> <a>3</a>
        </div>
      </div>
    </div>
  </div>
</div>

</container>
