
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>

<body>

</body><div class="container">
  <div class="card">
    <h3 class="title">Bruno Maltor</h3>
    <div class="bar">
      <h4 class="title"> Communauté</h4>
      <h4 class="title"> Communazuté</h4>
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>

  <div class="card ">
    <h3 class="title">Isabelle Bidulle</h3>
    <div class="bar">
      <h2 class="title"> Communauté</h2>
      <h2 class="title"> Communauté</h2>
      <h2 class="title"> Communauté</h2>
      <h2 class="title"> Communauté</h2>
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>

  <div class="card">
    <h3 class="title">Sandra Ballek</h3>
    <div class="bar">
      <h2 class="title"> Communauté</h2>

      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>

  <div class="card">
    <h3 class="title">Emma Blabla</h3>
    <div class="bar">
      <h2 class="title"> Communauté</h2>
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>
</div>


</body>
