<div class='d-flex'>
  <div>
    <div class="d-flex align-item">
      <div class="padd2">
        <div class="card2">
          <div class="name2"> Lunettes en Titane</div>
          <div class="d-flex" style="width: 588px;">
            <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582829321/samples/lunettes-moto-cross-vintage-pilot-helmet-steamp_avotox.png" class="image3"/>
            <div class="job2"></div>
            <div class="bar2">
              <div class="emptybar2"></div>
              <div class="filledbar2"></div>
            </div>
            <div class="engagement_rate2"></div>
            <div class="d-flex">

              <div class="stats2">

                <div class="box2" style="border-bottom: 1px solid white">
                  <span class="value2">48 </span>
                  <span class="parameter2">Posts</span>
                </div>

                <div class="box2" style="border-bottom: 1px solid white">
                  <span class="value2">140</span>
                  <span class="parameter2">Moyenne de Likes</span>
                </div>

                <div class="box2">
                  <span class="value2">1365</span>
                  <span class="parameter2">impressions</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row">
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379354/Influencers/Jean_Michel_y4usdq.png" class="image2"/>
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582380049/Influencers/Eleanore_Suez_bzrkxp.png" class="image2"/>
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379353/Influencers/Rachel_Birk_qsjnuf.png" class="image2"/>
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379356/Influencers/Edith_Loiseau_amgyer.png" class="image2"/>
    </div>
  </div>

  <div>
    <div class="d-flex align-item">
      <div class="padd2">
        <div class="card2">
          <div class="name2"> Lunettes en Titane</div>
          <div class="d-flex" style="width: 588px;">
            <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582829321/samples/lunettes-moto-cross-vintage-pilot-helmet-steamp_avotox.png" class="image3"/>
            <div class="job2"></div>
            <div class="bar2">
              <div class="emptybar2"></div>
              <div class="filledbar2"></div>
            </div>
            <div class="engagement_rate2"></div>
            <div class="d-flex">

              <div class="stats2">

                <div class="box2" style="border-bottom: 1px solid white">
                  <span class="value2">48 </span>
                  <span class="parameter2">Posts</span>
                </div>

                <div class="box2" style="border-bottom: 1px solid white">
                  <span class="value2">140</span>
                  <span class="parameter2">Moyenne de Likes</span>
                </div>

                <div class="box2">
                  <span class="value2">1365</span>
                  <span class="parameter2">impressions</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row">
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379354/Influencers/Jean_Michel_y4usdq.png" class="image2"/>
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582380049/Influencers/Eleanore_Suez_bzrkxp.png" class="image2"/>
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379353/Influencers/Rachel_Birk_qsjnuf.png" class="image2"/>
      <img src="https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379356/Influencers/Edith_Loiseau_amgyer.png" class="image2"/>
    </div>
  </div>


</div>


 <ul> Campagne Escalade </ul>
 <ul> Du 02 au 05 février </ul>

 <ul> Campagne Bombes Equestre </ul>
 <ul> Du 07 au 09 février </ul>

 <ul> Campagne Masque et Tubas </ul>
 <ul> Du 10 juin au 20 juillet </ul>

 <ul> Campagne Molki vs Pétanque </ul>
 <ul> Du 10 juin au 20 juillet </ul>






