<!-- <h1> TEST </h1> -->
<div class="container ">
    <h1> Nom de la campagne : <strong> <%= @campaign.name %> </strong> </h1>
    <h2> Descriptif : <%= @campaign.message %> </h2>
    <h2> Hashtags associés <%= @campaign.hashtag %> </h2>
    <p> *** </p>
</div>
